div.hbox, a.navtog{
    width:425px;
    text-align: center;
    color:white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 40px;
}
div.hbox:hover, a.content:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
div.header{
    margin-bottom: 15%;
}
body{
    background-color: rgba(0, 0, 0, 0.975);
}
a#heading{
    color: grey;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-decoration: none;
    margin-left:15%;
    margin-bottom: 20px;
}
a#heading:hover{
        text-decoration: underline;
        color: white;
    }
p#content{
    color: grey;
    text-transform: capitalize;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: lighter;
    text-align: justify;
    width: 550px;
    margin-left: 5%;
}
p#content:hover{
    color: white;
}
img#media{
    width: 720px;
    height: 720px;
}
img#lba{
    width: 100%;

}

#quote{
    color: white;
    font-size: large;
    margin-left: 40%;
}
p#qauthor{
    color: white;
    margin-left: 50%;
}