a.home_tog, a.about_tog,a.github_tog{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}
a.home_tog:hover, a.about_tog:hover,a.github_tog:hover{
    text-decoration: underline;
}
.header{
    height: 200px;
    padding-top: 80px;
}

body{
    background-color: rgb(0, 0, 0);
}
.content{
    padding: 120px;
}
.custom-header-bottom {
    border-bottom: 2px solid rgb(17, 17, 17);
}

.custom-header-bottom:hover{
    border-bottom: 2px solid rgba(255, 255, 255, 0.26);
}
p{
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: lighter;
    text-align: justify;
    padding: 20px;
}
img{
    width:400px;
    height:400px;
}